

<template id='editSet'>
  <j3-button>
    <div class="icon"></div>
  </j3-button>
  <j3-editor>
    <j3-screen></j3-screen>
    <j3-wrap>
      <j3-info>
        <j3-title></j3-title>
        <j3-description></j3-description>
      </j3-info>
      <j3-main>
        <j3-tabs>
          <j3-tab class="active">HTML</j3-tab>
          <j3-tab>JavaScript</j3-tab>
          <j3-tab>Goml</j3-tab>
        </j3-tabs>
        <textarea></textarea>
        <textview></textview>
      </j3-main>
      <j3-options>
        <j3-option class="refresh">
          <icon></icon>
        </j3-option>
        <j3-option class="fullscreen">
          <icon></icon>
        </j3-option>
      </j3-options>
    </j3-wrap>
  </j3-editor>
<style>

/*syntax==========*/
.Coloring_number {
  color: rgb(247, 98, 140);
}
.Coloring_baseword {
  color: rgb(254, 156, 0);
}
.Coloring_keyword {
    color: rgb(255, 198, 0);
}

.Coloring_operator {
    color: white;
}

.Coloring_bracket {
    color: white;
}

.Coloring_comment {
    color: blue;
}

.Coloring_regexp {
    color: orange;
}

.Coloring_strings {
    color: rgb(58, 217, 0);
}

.Coloring_functionName {
    color: white;
}

.Coloring_color {
    color: #0cff00;
}
/*===========*/
caret{
  display: inline-block;
  width: 0px;
  height: 11px;
  left: 0px;
  background-color: white;
  position: relative;
}
caret-inner{
  background-color: white;
  position: absolute;
  height: 11px;
  width: 2px;
  bottom: 0px;
  box-sizing: border-box;
  top: 1px;
  left: -1.5px;
  animation-name: caretAnimation;
  -webkit-animation-name: caretAnimation;

  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;

  animation-duration: 3s;
  -webkit-animation-duration: 3s;

  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;

}
@keyframes caretAnimation {
  0% {
    background-color: #00BCD4;
  }
  50%{
    background-color: white;
  }
  100% {
    background-color: #00BCD4;
  }
}

@-webkit-keyframes caretAnimation {
  0% {
    background-color: #00BCD4;
  }
  50%{
    background-color: white;
  }
  100% {
    background-color: #00BCD4;
  }
}
j3-option{
  display: block;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #FFF;
  box-sizing: border-box;
}
j3-option:after{
  display: block;
  content: "";
  padding-top: 100%;
}
j3-option icon{
  display: block;
  position: absolute;
  background-size: cover;
  opacity: 0.9;
  width: 60%;
  height: 60%;
  margin: 20%;
}
j3-option.refresh icon{
  background-image: url("./Components/refresh.png");
}
j3-option.fullscreen icon{
  background-image: url("./Components/expand.png");
}
:-webkit-full-screen j3-option.fullscreen icon{
  background-image: url("./Components/compress.png");
}

j3-option > div{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
j3-options{
  box-shadow: 1px 0px 2px 0px rgba(0, 0, 0, 0.89);
  width: 5%;
  display: block;
  height: 100%;
  right: 0px;
  top: 0px;
  position: absolute;
  background-color: #37474F;
  border-left: solid 2px #0097A7;
  box-sizing: border-box;
}
/*=======================**
**========j3-info========**
**=======================*/
j3-info{
  padding: 24px;
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: 0px;
  width: 35%;
  top: 0px;
  height: 100%;
}
j3-title{
  display: block;
  font-size: 24px;
  color: whitesmoke;
  -webkit-font-smoothing: antialiased;
}
j3-description{
  font-size: 12px;
  color: whitesmoke;
  -webkit-font-smoothing: antialiased;
}
/*=======================**
**========j3-main========**
**=======================*/
j3-main{
  box-shadow: 1px 0px 6px 1px rgba(5, 6, 6, 0.94);
  display: block;
  position: absolute;
  right: 5%;
  width: 60%;
  top: 0px;
  height: 100%;
  border: solid 1px #455A64;
  background-color: #455A64;
  box-sizing: border-box;
}
j3-main j3-tabs{
  width: 100%;
  height: 7%;
  position: absolute;
  top: 0;
  display: block;
}
j3-main j3-tabs j3-tab{
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.73);
  padding: 4px 12px;
  color: whitesmoke;
  -webkit-font-smoothing: antialiased;
  background-color: rgb(55, 71, 79);
  margin: 4px;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 0px;
  font-size: 12px;
}
j3-main j3-tabs j3-tab.active{
  border-bottom: 1px solid rgb(0, 151, 167);
}
j3-main textarea ,j3-main textview{
  white-space: pre;
  overflow: scroll;
  border: none;
  padding: 32px;
  box-sizing: border-box;
  display: block;
  outline: none;
  font-size: 14px;
  margin: 0px -2px 0px 0px;
  background-color: transparent;
  width: 100%;
  height: 93%;
  position: absolute;
  bottom: 0;
  letter-spacing: 3px;
  word-wrap: break-word;
  font: normal normal normal 11px/normal 'monospace';
}
j3-main textarea{
  z-index: 3;
  color: transparent;
}
j3-main textview{
  color: white;
}
/*=======================**
**=======j3-screen=======**
**=======================*/
j3-screen{
  -webkit-transition: left .4s cubic-bezier(0, 0, 0, 0.93);
  transition: left .4s cubic-bezier(0, 0, 0, 0.93);
  background-color: white;
  height: 100%;
  width: 35%;
  left: -42%;
  display: inline-block;
  box-shadow: 12px 0px 12px -4px rgba(0,0,0,0.2);
  z-index: 10;
  box-sizing: border-box;
  border-bottom: solid 1px #ddd;
  position: absolute;
  top: 0;
}
j3-screen.open{
  left: 0%;
}
/*=========*/
    :host{
      position: relative;
      height: 0px;
      width: 100%;
      display: block;
      -webkit-transition: height .4s cubic-bezier(0, 0, 0, 0.93);
      transition: height .4s cubic-bezier(0, 0, 0, 0.93);
    }
    :host(.open){
      height: 400px;
    }
    j3-control{
      width: 100%;
      height: 200px;
      positio
      background-color: #455A64;
    }
    j3-wrap{
      box-sizing: border-box;
      position: relative;
      width: 1100px;
      height: 100%;
      z-index: 6;
      display: block;
      margin: 0 auto;
    }
    :-webkit-full-screen j3-wrap{
      width: 100%;
    }
   /* j3-screen:after{
      border-bottom: 0px solid transparent;
      border-left: 0px solid black;
      border-right: 31px solid transparent;
      height: 0;
      content: ">";
      display: block;
      position: absolute;
      width: 20px;
      right: -50px;
      border-top: 84px solid rgba(255, 255, 255, 1);
    }*/
    j3-editor{
      overflow: hidden;
      height: 100%;
      width: 100%;
      background-color: #607D8B;
      display: block;
    }
    j3-editor:after{
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 5;
      box-shadow: 0px 2px 11px 0px rgba(0,0,0,0.4) inset;
      top: 0;
      left: 0;
    }
    j3-button{
      cursor: pointer;
      z-index: 100;
      background-color: #00BCD4;
      font-weight: bold;
      color: #666;
      display: inline-block;
      padding: 15px;
      font-size: 32px;
      box-sizing: content-box;
      line-height: 31px;
      width: 32px;
      border-radius: 50%;
      color: white;
      box-shadow: 0 3px 5px -1px rgba(0,0,0,.14),0 6px 10px 0 rgba(0,0,0,.098),0 1px 18px 0 rgba(0,0,0,.084);
      position: absolute;
      top: -31px;
      right: 24px;
      height: 32px;
      text-align: right;
    }
    j3-button .icon{
      width: 100%;
      height: 100%;
      background-image: url("./Components/pencil.png");
      background-size: cover;
    }

/*   :host {display: block;}
   :host(.blue) {background-color: blue;}
   p{ color: darkred; }
   :host editor-html {white-space: pre;};
   ::content p{color: yellow};*/









</style>
</template>

<script>
  // 実行中のスクリプトを参照する
  var currentScript = document.currentScript;

  // <j3-editor>のプロトタイプ
  var jThreeEditorPrototype = Object.create(HTMLElement.prototype);

  jThreeEditorPrototype.createdCallback = function () {

    // <j3-editor>にShadow Rootを生成する
    var shadowRoot = this.createShadowRoot();

    // <template>を取得する
    var template = currentScript.ownerDocument.querySelector('#editSet');

    // <template>の中の要素をコピーする
    var clone = document.importNode(template.content, true);

    // 生成した<style>と<input type='button'>と<button>をShadow Rootに追加する
    shadowRoot.appendChild(clone);

  };

  jThreeEditorPrototype.attachedCallback = function() {
    var root = this;
    var j3screen = root.shadowRoot.querySelector("j3-screen");
    var j3title = root.shadowRoot.querySelector("j3-title");
    var j3description = root.shadowRoot.querySelector("j3-description");
    var xmlHttp;
    xmlHttp = new XMLHttpRequest();
    xmlHttp.open("GET", this.getAttribute("html"), true);
    xmlHttp.onload = function (e) {
      if (xmlHttp.readyState === 4) {
        if (xmlHttp.status === 200) {
          root.shadowRoot.querySelector("editor-html").textContent = xmlHttp.responseText;
          console.log(xmlHttp.responseText);
        } else {
          console.error(xmlHttp.statusText);
        }
      }
    };
    xmlHttp.onerror = function (e) {
      console.error(xmlHttp.statusText);
    };
    xmlHttp.send(null);

    j3title.textContent = root.querySelector("title").innerText;
    j3description.textContent = root.querySelector("description").innerText;


    this.shadowRoot.querySelector("j3-button").addEventListener('click', function(){
      if(root.classList.contains('open')){
        if(j3screen.classList.contains('open')){
          j3screen.classList.remove('open');

          j3screen.addEventListener("webkitTransitionEnd", function(event){
            root.classList.remove('open');
            this.removeEventListener("webkitTransitionEnd", arguments.callee, false);
          }, false);

        }else{
          root.classList.remove('open');
        }
      }else{
        root.classList.add('open');
      }
    });
    this.shadowRoot.querySelector("j3-option.refresh").addEventListener('click', function(){
      if(j3screen.classList.contains('open')){
        j3screen.classList.remove('open')
      }else{
        j3screen.classList.add('open')
      }
    });

    this.shadowRoot.querySelector("j3-option.fullscreen").addEventListener('click', function(){
      // ------------------------------------------------------------
      // エレメントを取得
      // ------------------------------------------------------------

      // "container01" という ID 属性のエレメントを取得する
      var element_container = root.shadowRoot.querySelector("j3-editor");
      if(element_container.classList.contains('full')){
        DocumentExitFullscreen(document);
        element_container.classList.remove('full');
      }else{
        element_container.classList.add('full');
        ElementRequestFullscreen(element_container);
      }



    })
    this.shadowRoot.querySelector("j3-main textarea").addEventListener('scroll', function(e){
      root.shadowRoot.querySelector("j3-main textview").scrollTop = this.scrollTop;
      root.shadowRoot.querySelector("j3-main textview").scrollLeft = this.scrollLeft;
      console.log(this.scrollLeft);
      console.log(this.scrollTop);
      console.log("scroll");
    });
    this.shadowRoot.querySelector("j3-main textarea").addEventListener('click', function(e){
      var index = this.selectionStart;
      var targetString = "" + this.value;
      console.log(index);
      var resultString = targetString.substring(0, index);
            var text = replaceTag(targetString.substring(0, index)) + "__caret__" + replaceTag(targetString.substring(index));
          text = coloringRegExp(text);
          text = coloring(text);
          text = coloringQuote(text);
      root.shadowRoot.querySelector("j3-main textview").innerHTML = text.replace("__caret__", "<caret><caret-inner></caret-inner></caret>").replace(/\r?\n/g, "<br>");
    });
    this.shadowRoot.querySelector("j3-main textarea").addEventListener('blur', function(e){
      var text = this.value;
      text = coloringRegExp(text);
      text = coloring(text);
      text = coloringQuote(text);
      root.shadowRoot.querySelector("j3-main textview").innerHTML = text.replace(/\r?\n/g, "<br>");
    });
    this.shadowRoot.querySelector("j3-main textarea").addEventListener('keydown', function(e){
      if(e.keyCode == "13" || e.keyCode == "8"){
      }
      console.log(e.keyCode);
      var index = this.selectionStart;
      var length = this.selectionEnd - index;
      console.log("en" + this.selectionEnd);
      var targetString = "" + this.value;
      var text;
      // "BC" の切り出しを行う
      if (e.keyCode === 9) { //tab
        e.preventDefault();
        this.value = replaceTag(targetString.substr(0, index) + '    ' + targetString.substr(index));
        text = replaceTag(targetString.substr(0, index) + '    ' + "__caret__" + targetString.substr(index));
      }else{
        text = replaceTag(targetString.substring(0, index)) + "__caret__" + replaceTag(targetString.substring(index));
      }
      text = coloringRegExp(text);
      text = coloring(text);
      text = coloringQuote(text);
      root.shadowRoot.querySelector("j3-main textview").innerHTML = text.replace("__caret__", "<caret><caret-inner></caret-inner></caret>").replace(/\r?\n/g, "<br>");

      // console.log(resultString.replace(/\r?\n/g, "<j3-br>").countR("<j3-br>"));
      // console.log(resultString.replace(/\r?\n/g, ""));


    // var shift, ctrl;

    // if (e != null) {
    //       keycode = e.which;
    //       ctrl    = typeof e.modifiers == 'undefined' ? e.ctrlKey : e.modifiers & Event.CONTROL_MASK;
    //       shift   = typeof e.modifiers == 'undefined' ? e.shiftKey : e.modifiers & Event.SHIFT_MASK;
    //       // イベントの上位伝播を防止
    //       e.preventDefault();
    //       e.stopPropagation();
    //   // Internet Explorer
    //   } else {
    //       keycode = event.keyCode;
    //       ctrl    = event.ctrlKey;
    //       shift   = event.shiftKey;
    //       // イベントの上位伝播を防止
    //       event.returnValue = false;
    //      event.cancelBubble = true;
    //   }

    //   // キーコードの文字を取得
    //   keychar = String.fromCharCode(keycode).toUpperCase();

    //   // Ctrl同時押しの場合
    //   if (ctrl) {
    //       if (keychar == "C") {
    //           alert('Ctrl+C');
    //       }else if(keychar =="B") {
    //           alert('Ctrl+B');
    //       }
    //   } else
    //   // Shift同時押しの場合
    //   if (shift) {
    //       if (keychar == "C") {
    //           alert('Shift+C');
    //       }else if(keychar =="B") {
    //           alert('Shift+B');
    //       }
    //   // 通常のキーダウン時の場合
    //   } else {
    //       if (keychar == "C") {
    //           alert('C');
    //       }
    //   }







    });
    this.shadowRoot.querySelector("j3-main textarea").addEventListener('keyup', function(e){
      var index = this.selectionStart;
      var targetString = "" + this.value;
      // "BC" の切り出しを行う
      var resultString = targetString.substring(0, index);
      var text;
      if (e.keyCode === 9) { //tab
        e.preventDefault();
      }else{
      text = replaceTag(targetString.substring(0, index)) + "__caret__" + replaceTag(targetString.substring(index));
      text = coloringRegExp(text);
      text = coloring(text);
      text = coloringQuote(text);
      root.shadowRoot.querySelector("j3-main textview").innerHTML = text.replace("__caret__", "<caret><caret-inner></caret-inner></caret>").replace(/\r?\n/g, "<br>");
      }
      console.log(resultString.replace(/\r?\n/g, "<j3-br>").countR("<j3-br>"));
      console.log(resultString.replace(/\r?\n/g, ""));
    })

  }

  // <sample-element>を定義する
  document.registerElement('j3-editSet', {
    prototype: jThreeEditorPrototype
  });


// 指定の文字数

  String.prototype.countR = function(str) {
      var n=0,regex = RegExp(str,'g');
      this.replace(regex,function() {
          n++;
      });
      return n;
  }

// エスケープ

function escapeHTML(str) {
  return str.replace(/&/g, '&amp;')
            .replace(/ /g, '&nbsp;')
            .replace(/</g, '&lt;')
            .replace(/>/g, '&gt;')
            .replace(/"/g, '&quot;')
            .replace(/'/g, '&#039;');
}


// javascript カラーリング


function replaceTag(codeStr) {
  codeStr.replace(/ /g, '&nbsp;')
  function replacer(s) {

    var esc = "";
    if        (s === ";") {
      esc = ";";
    } else if (s === "&") {
      esc = "&amp;";
    } else if (s === "<") {
      esc = "&lt;";
    } else if (s === ">") {
      esc = "&gt;";
    }
    return esc;
  }

  codeStr = codeStr.replace(/[;&<>]/g, replacer);
  return codeStr;
}

function coloringRegExp (codeStr) {
  var regReg = /([{(=[]\s*|^\s*)(\/(?!\/).+\/[gmi]{0,3})(\s*)(?![([{])/gm;
  codeStr = codeStr.replace(regReg, "$1<span class=\"Coloring_regexp\">$2</span>$3");
  return codeStr;
}

function coloring (codeStr) {
  var number = [
        "0",
        "1",
        "2",
        "3",
        "4",
        "5",
        "6",
        "7",
        "8",
        "9"
      ],
      baseword = [
        "\\breturn\\b",
        "\\balert\\b",
        "\\$"
      ],
      keyword = [
        "\\bbreak\\b",
        "\\bcase\\b",
        "\\bconst\\b",
        "\\bcontinue\\b",
        "\\bdebugger\\b",
        "\\bdelete\\b",
        "\\bdo\\b",
        "\\bwhile\\b",
        "\\bexport\\b",
        "\\bfor\\b",
        "\\bin\\b",
        "\\bfunction\\b",
        "\\bif\\b",
        "\\binstanceof\\b",
        "\\belse\\b",
        "\\bswitch\\b",
        "\\bthrow\\b",
        "\\bthis\\b",
        "\\btry\\b",
        "\\btypeof\\b",
        "\\bundefined\\b",
        "\\bcatch\\b",
        "\\bvar\\b",
        "\\bvoid\\b",
        "\\bwith\\b",
        "\\btrue\\b",
        "\\bfalse\\b",
        "\\bnull\\b",
        "\\bNaN\\b"
      ],
      operator = [
        "=(?!\"Coloring_|=)",
        "\\+=",
        "-=",
        "\\*=",
        "/=",
        "&amp;=",
        "\\^=",
        "\\|=",
        "%=",
        "(?:&lt;)+=",
        "(?:&gt;)+=",
        "\\++",
        "-+",
        "/(?!/|\\*|span>)",
        "\\*(?!/)",
        "%",
        "\\.",
        "\\,",
        "\\?",
        "\\^",
        "\\|+",
        "(?:&amp;)+",
        "~",
        "(?:&lt;)+",
        "(?:&gt;)+",
        "\\!",
        "!=+",
        "=={1,2}",
        ":",
        "&#059;"
      ],
      bracket = [
        "\\(",
        "\\)",
        "\\{",
        "\\}",
        "\\[",
        "\\]"
      ],
      comment = [
        "//.*(?=$|</span>)",
        "/\\*(?:.*\n)*?.*?\\*/"
      ],
      regexp = [
        "<span class=\"Coloring_regexp\">/.+/[gmi]{0,3}\\s*</span>"
      ],
      syntax = keyword.concat(baseword, number, operator, bracket, comment, regexp);
  ;

  var functionNameReg = /(function +)([\w$]+)( *\()/gm,
      colorReg    = new RegExp(                               "(" +   syntax.join("|") + ")"       , "gm"),
      numberReg   = new RegExp("<span class=\"Coloring_color\">(" +   number.join("|") + ")</span>", "gm"),
      basewordReg = new RegExp("<span class=\"Coloring_color\">(" + baseword.join("|") + ")</span>", "gm"),
      keywordReg  = new RegExp("<span class=\"Coloring_color\">(" +  keyword.join("|") + ")</span>", "gm"),
      operatorReg = new RegExp("<span class=\"Coloring_color\">(" + operator.join("|") + ")</span>", "gm"),
      bracketReg  = new RegExp("<span class=\"Coloring_color\">(" +  bracket.join("|") + ")</span>", "gm"),
      commentReg  = new RegExp("<span class=\"Coloring_color\">(" +  comment.join("|") + ")</span>", "gm"),
      regexpReg   = new RegExp("<span class=\"Coloring_color\">(" +   regexp.join("|") + ")</span>", "gm");

  return codeStr.replace(functionNameReg, '$1<span class="Coloring_functionName">$2</span>$3')
                .replace(colorReg       , '<span class="Coloring_color">$1</span>'           )
                .replace(numberReg      , '<span class="Coloring_number">$1</span>'         )
                .replace(basewordReg    , '<span class="Coloring_baseword">$1</span>'         )
                .replace(keywordReg     , '<span class="Coloring_keyword">$1</span>'         )
                .replace(operatorReg    , '<span class="Coloring_operator">$1</span>'        )
                .replace(bracketReg     , '<span class="Coloring_bracket">$1</span>'         )
                .replace(commentReg     , '<span class="Coloring_comment">$1</span>'         )
                .replace(regexpReg      , '$1'                                               )
  ;
}

function coloringQuote(codeStr) {

  var quoteReg = /(?:<span class=|<span class="Coloring_\w+)?(?:\\?["'\n]|\/\/|\/\*|\*\/|<span class="Coloring_regexp">|<\/span>)(?:Coloring_\w+">)?/gm,
      deleteMarkReg = /<span class="Coloring_\w+">(.+?)<\/span>/g,
      beginLnCmntReg = /<span class="Coloring_comment">\/\//g,
      endLnCmntReg = /<\/span>((?:\n.*)+)/gm,
      beginMltLnCmntReg = /<span class="Coloring_comment">\/\*/g,
      endMltLnCmntReg = /\*\/<\/span>/gm,
      arr = [],
      openCloseIndex = [],
      status = {
        isOpened : false,
        isCommented : false,
        isRegExp : false,
        charOfBegin : "",
        isLnCmntInQuote : false,
        isMltLnCmntInQuote : false
      },
      markupStr = "",
      splitStr = "",
      reColorStr = "",
      colorStr = "",
      from,
      to,
      c,
      i;

  while (arr = quoteReg.exec(codeStr)) {

    c = arr[0];

    if (status.isCommented) {

      if (status.charOfBegin === "//" && c === "\n") {
        status.isCommented = false;
      } else if (status.charOfBegin === "/*" && c === "*/") {
        status.isCommented = false;
      }

    } else if (status.isOpened) {

      if (c === status.charOfBegin || c === "\n") {
        openCloseIndex.push(arr.index + (c === status.charOfBegin));
        status.isOpened = false;
      }

    } else if (status.isRegExp) {

      if (c === "</span>") {
        status.isRegExp = false;
      }

    } else {

      if (c === "//" || c === "/*") {
        status.isCommented = true;
        status.charOfBegin = c;
      } else if (c === "\n") {
        continue;
      } else if (c === "\\\"" || c === "\\'") {
        continue;
      } else if (c === "<span class=\"Coloring_regexp\">") {
        status.isRegExp = true;
      } else if (c.length > 1) {
        continue;
      } else {
        openCloseIndex.push(arr.index);
        status.charOfBegin = c;
        status.isOpened = true;
      }

    }
  }

  for (i = from = 0; i < openCloseIndex.length + 1; i++) {

    to = openCloseIndex[i];
    splitStr = codeStr.slice(from, to);

    if (i & 1) {

      splitStr = "<span class=\"Coloring_strings\">" + splitStr.replace(deleteMarkReg, "$1") + "</span>";
      if (!status.isMltLnCmntInQuote && beginLnCmntReg.test(splitStr)) {
        splitStr = splitStr.replace(beginLnCmntReg, "//");
        status.isLnCmntInQuote = true;
      } else if (!status.isLnCmntInQuote && beginMltLnCmntReg.test(splitStr)) {
        splitStr = splitStr.replace(beginMltLnCmntReg, "/*");
        status.isMltLnCmntInQuote = true;
      }

    }

    if (status.isLnCmntInQuote) {

      if (endLnCmntReg.test(splitStr)) {
        splitStr.replace(endLnCmntReg, function (matchStr, p1, offset, s) {
          reColorStr = s.slice(0, offset);
          colorStr = p1;
        });
        status.isLnCmntInQuote = false;
      } else {
        reColorStr = splitStr;
        colorStr = "";
      }
      if (i + 1 & 1) {
        reColorStr = coloring(reColorStr);
      }
      splitStr = reColorStr + colorStr ;

    } else if (status.isMltLnCmntInQuote) {

      if (endMltLnCmntReg.test(splitStr)) {
        splitStr = splitStr.replace(endMltLnCmntReg, "*/");
        status.isMltLnCmntInQuote = false;
      }
      if (i + 1 & 1) {
        splitStr = coloring(splitStr);
      }

    }
    markupStr += splitStr;
    from = to;
  }

  return markupStr;
}
/*================================*/

// ------------------------------------------------------------
// エレメントをフルスクリーン表示する関数
// ------------------------------------------------------------
function ElementRequestFullscreen(element){
  var list = [
    "requestFullscreen",
    "webkitRequestFullScreen",
    "mozRequestFullScreen",
    "msRequestFullscreen"
  ];
  var i;
  var num = list.length;
  for(i=0;i < num;i++){
    if(element[list[i]]){
      element[list[i]]();
      return true;
    }
  }
  return false;
}

// ------------------------------------------------------------
// フルスクリーンを終了する関数
// ------------------------------------------------------------
function DocumentExitFullscreen(document_obj){
  var list = [
    "exitFullscreen",
    "webkitExitFullscreen",
    "mozCancelFullScreen",
    "msExitFullscreen"
  ];
  var i;
  var num = list.length;
  for(i=0;i < num;i++){
    if(document_obj[list[i]]){
      document_obj[list[i]]();
      return true;
    }
  }
  return false;
}


/*======================================*/

</script>