
.header{
  top: 0px;
  background-color: #3F51B5;
  height: 64px;
  padding: 0px;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.14),0 6px 10px 0 rgba(0,0,0,.098),0 1px 18px 0 rgba(0,0,0,.084);
  z-index: 5;
  border-bottom: solid 1px blue;
  color: white;
  font-weight: bold;
  width: 100%;
  position: fixed;
}
.ss-header-exist{
}
.ss-header-none{
}
.ss-header-animating{
}
.target{
  margin-top: 1580px;
  border: solid 3px green;
  width: 100%
}